body {
    background-image: url("../../assets/images/background.jpg"); 
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 30px;
    color: rgb(125, 239, 25);
    text-align: center;
    padding-top: 20px;
}
h1::after {
    content: "";
    width: 25px;
    height: 30px;
    background: rgb(125, 239, 25);
    margin-bottom: 2px;
    margin-left: 4px;
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;
}
#cards {
    border: solid rgb(19, 21, 15) 20px;
    background-color: black;
    border-radius: 30%;
    height: 450px;
    width: 600px;
    align-items: center;
    display: flex;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.card {
    height: 150px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: magenta;
    font-size: 20px;

}
@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }