body {
    background-image: url("../../assets/images/background.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Press Start 2P', cursive;
}

nav {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.timer {  
    color: rgba(27, 198, 255, 0.987);
}
.seconds, .score {
    color: red;
}
.score {
    margin-right: 30px;
}
.points {
    color: white;
}
h1 {
    font-size: 50px;
    color: rgb(125, 239, 25);
    text-align: center;
    padding-top: 40px;
}
h1::after {
    content: "";
    width: 30px;
    height: 50px;
    background: rgb(125, 239, 25);
    margin-bottom: 2px;
    margin-left: 4px;
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;
}
@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }
header {
    color: rgb(255, 242, 0);
    text-align: center;
    padding-top: 180px;
}
#cards {
    border: solid rgb(19, 21, 15) 20px;
    background-color: black;
    border-radius: 30%;
    height: 450px;
    width: 600px;
    align-items: center;
    display: flex;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    display: none;
}
.card1 {
    height: 100px;
    margin-top: 70px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 20px;
}
.card2 {
    height: 100px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    font-size: 20px;
    align-items: center;
}
#question {
    display: none;
    color: rgb(225, 4, 191);
}
#choices {
    display: none;
    color: rgb(255, 217, 0);
    font-size: 10px;
    text-align: center;
}
#answer {
    display: none;
}

p {
    padding: 20px;
}

button {
    color: rgb(255, 242, 0);;
    font-family: 'Press Start 2P', cursive;
    background-color: transparent;
    border: solid rgb(0, 217, 255) 1px;;
    border-radius: 10px;
    padding:15px;
    min-height:30px; 
    width: 500px;
    transition: 0.5s;
}
button:hover {
    background-color: rgba(64, 64, 73, 0.243);
    border: solid rgb(0, 255, 8) 1px;
    width: 610px;
}

  Form {
    display: none;
    color: rgb(225, 4, 191);
    height: 100px;
    text-align: center;
    flex-wrap: wrap;
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .user {
    color: white;
  }